/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-light-2: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);


  --primary-color-1: #13AAFF;
  --primary-color-2: #30B488;


  --primary-color-grey: #808080;
  --primary-color-border-grey: #e1e2e3;

  --primary-color-black: #000000;
  --primary-color-black-hover: #282828;

  --section-gap: 160px;
}

/* semantic color variables for this project */
:root {}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#app {
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, LINE-Rg;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  height: 30px;
}

a {
  text-decoration: none;
  color: var(--primary-color-2);
  transition: 1s;
}

a:hover {
  text-decoration: none;
  color: var(--primary-color-2);
  transform: scale(1.05);
  transition: 1s;
}

.non-hover:hover {
  transform: scale(1.00);
}


/* Button 모음 */
.btnBlueGreen {
  border-radius: 12px;
  background: #00AE68;
}

.btnLightBlue {
  border-radius: 12px;
  background: var(--primary-color-1);
}

.btnOrange {
  border-radius: 12px;
  background: #FF7E7E;
}

/* FADE */
.btnFade.btnBlueGreen:hover {
  background: #21825B;
}

.btnFade.btnLightBlue:hover {
  background: #1487c9;
}

.btnFade.btnOrange:hover {
  background: #fc7e7e;
}

.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 0px 0px #007144;
}

.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #1487c9;
}

.btnOrange.btnPush {
  box-shadow: 0px 5px 0px 0px #9b4848;
}

.btnPush:hover {
  margin-top: 7px;
  margin-bottom: -5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 2px 0px 0px #007144;
}

.btnLightBlue.btnPush:hover {
  box-shadow: 0px 2px 0px 0px #1487c9;
}

.btnOrange.btnPush:hover {
  box-shadow: 0px 2px 0px 0px #9b4848;
}

/* input design(줄수, 크기) */
.line-clamp {
  font-size: 17px;
  width: 90%;
  word-break: break-all;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-default {
  word-break: break-all;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* hr */
.hr-main {
  background-color: black;
  padding: 0;
  height: 2px;
  margin: 5px 180px 5px 180px;
  border: none;
}


/* banner 배너*/

.banner-container {
  display: flex;
  height: 170px;
  width: 100%;
  background-color: white;
  margin: 0px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.banner-letter1 {
  font-size: 30px;
  font-family: "LINE-Bd";
}

.banner-letter2 {
  font-family: "LINE-Rg";
}

.slide-fade-enter-from {
  transform: translateX(10px);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s ease;
}



@media screen and (max-width:1024px) {
  .hr-main {
    background-color: black;
    padding: 0;
    height: 2px;
    margin: 5px 100px 5px 100px;
    border: none;
  }
}