.login-section {
  width: 100%;
  height: 100%;
  display: flex;
}


.div-illustration {
  position: relative;
  min-height: 100vh;
  max-width: 60%;
  background: url("../../images/logo-background.jpg") no-repeat center center scroll;
  background-size: cover;
  float: left;
  -webkit-animation: bgslide 1.8s forwards;
  animation: bgslide 1.8s forwards;
}

@-webkit-keyframes bgslide {
  from {
    left: -100%;
    width: 0;
    opacity: 0;
  }

  to {
    left: 0;
    width: 1000px;
    opacity: 1;
  }
}

@keyframes {
  from {
    left: -100%;
    width: 0;
    opacity: 0;
  }

  to {
    left: 0;
    width: 1000px;
    opacity: 1;
  }
}

.div-illustration img {
  width: 248px;
  min-height: fit-content;
}

.div-login {
  min-height: 100vh;
  margin: 0 auto;
  float: left;
  padding: 0px 50px 0px 50px;
  width: calc(100% - 60%);
}

.div-login .login-container {
  margin: 0 auto;
  position: relative;
}

.div-login .login-container h1 {
  font-size: 230%;
  text-align: center;
}

.login-form form {
  display: grid;
}

.login-form form input {
  font-size: 18px;
  background: rgba(241, 241, 241, 0.87);
  margin-top: 12px;
  height: 60px;
  border: none;
  border-radius: 12px;
  padding: 5px 20px;
}

.div-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-button>p {
  padding: 10px
}

.div-social {
  display: flex;
}


#login-bt {
  font-size: 20px;
}


#login-bt {
  width: 100%;
  height: 50px;
  color: white;

}

#login-kakao-bt {
  background-image: url('../../images/logo/kakao-logo.png');
  width: 40px;
  height: 40px;

  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

#login-google-bt {
  width: 40px;
  height: 40px;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../images/logo/google/btn_google_light_normal_ios.svg');
  margin-left: 5px;
}

.div-sub-option {
  margin: 15px 5px;
  display: flex;
  justify-content: flex-start;
}

.div-login .login-container .remember-form input[type=checkbox] {
  height: auto;
}

.div-login .login-container .remember-form span {
  margin-left: 3px;
  font-size: 16px;
}

.forget-password {
  margin-top: 9px;
  margin-left: auto;
}

.forget-password a {
  font-size: 16px;
}



@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .div-illustration {
    width: 60%;
    min-height: 120vh;
    -webkit-animation: none;
    animation: none;
  }

  .div-login {

    min-height: 100vh;
    width: calc(100%-60%);
  }
}


@media only screen and (max-width: 1024px) {
  @-webkit-keyframes slideIn {
    from {
      left: -100%;
      opacity: 0;
    }

    to {
      left: 0;
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      left: -100%;
      opacity: 0;
    }

    to {
      left: 0;
      opacity: 1;
    }
  }

  .div-illustration {
    float: none;
    background: url("../../images/logo-background.jpg") center center;
    background-size: cover;
    -webkit-animation: slideIn 0.8s ease-in-out forwards;
    animation: slideIn 0.8s ease-in-out forwards;
    min-width: 100%;
    height: 190px;
    text-align: center;
  }

  .div-illustration img {
    width: 100px;
    height: auto;
    margin: 20px auto !important;
    text-align: center;
  }


  .div-login {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  .div-login .login-container {
    -webkit-animation: slideIn 0.8s ease-in-out forwards;
    animation: slideIn 0.8s ease-in-out forwards;
    width: 85%;
    float: none;
  }

  .div-login .login-container f {
    font-size: 25px;
    margin-top: 40px;
  }

  .login-form {
    margin-top: 90px;
  }

  .login-form form input {
    height: 45px;
  }

  #login-bt button {
    height: 45px;
    margin-top: 5px;
  }

  .div-sub-option {
    margin: 15px 5px;
    display: flex;
    justify-content: flex-start;
  }


  .remember-form span {
    font-size: 16px;
    margin-top: 22px;
    top: inherit;
  }

  .forget-password a {
    font-size: 16px;
  }

  .forget-password a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    bottom: -4px;
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    right: 0;
  }

  .forget-pass a:hover::after {
    opacity: 1;
  }

}

@media only screen and (max-width: 1024px) {
  @-webkit-keyframes slideIn {
    from {
      left: -100%;
      opacity: 0;
    }

    to {
      left: 0;
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      left: -100%;
      opacity: 0;
    }

    to {
      left: 0;
      opacity: 1;
    }
  }

  .login-section {
    display: block;
  }

  .div-illustration {
    margin: auto;
    float: none;
    background: url("../../images/logo-background.jpg") center center;
    background-size: cover;
    -webkit-animation: slideIn 0.8s ease-in-out forwards;
    animation: slideIn 0.8s ease-in-out forwards;
    width: 100%;
    min-height: 30vh;
    text-align: center;
  }

  .div-illustration img {
    width: 100px;
    height: auto;
    margin: 20px auto !important;
    text-align: center;
  }


  .div-login {
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
  }

  .div-login .login-container {
    -webkit-animation: slideIn 0.8s ease-in-out forwards;
    animation: slideIn 0.8s ease-in-out forwards;
    width: 100%;
    float: none;
  }

  .div-login .login-container .login-form {
    margin: 50px 0px;
  }

  .div-login .login-container .login-form form input {
    height: 45px;
  }

  .div-login .login-container .login-form form button {
    height: 45px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .div-login .login-container .div-sub-option {
    margin: 15px 5px;
    display: flex;
    justify-content: flex-start;
  }


  .div-login .login-container .login-form .remember-form span {
    font-size: 16px;
    margin-top: 22px;
    top: inherit;
  }

  .div-login .login-container .forget-password a {
    font-size: 16px;
  }

  .div-login .login-container .forget-password a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    bottom: -4px;
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    right: 0;
  }

  .div-login .login-container .forget-pass a:hover::after {
    opacity: 1;
  }

}

/*높이 조절*/
@media only screen and (min-width: 1024px) and (max-height:560px) {
  .div-illustration {
    height: 120vh;
  }
}

@media only screen and (min-width: 1024px) and (max-height:490px) {
  .div-illustration {
    height: 150vh;
  }
}

@media only screen and (min-width: 1024px) and (max-height:390px) {
  .div-illustration {
    height: 180vh;
  }
}

@media only screen and (min-width: 1024px) and (max-height:325px) {
  .div-illustration {
    height: 200vh;
  }
}