.navbar {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 100px;
}

.navbar-logo {
  font-size: 24px;
  margin: 0px 70px 0px 20px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding-left: 0;

}

.navbar-menu li {
  padding: 8px 12px;
  font-size: 23px;
  font-family: 'LINE-Bd';
}

.navbar-menu li:hover {
  border-radius: 4px;
  transform: scale(1.02);
  color: rgb(73, 73, 73);
  transition: 0.3s;
}

.navbar-icons {
  list-style: none;
  display: block;
  padding-left: 0;
  color: white;
  margin: 0px 0px 0px 50px;

}

.navbar-icons li {
  padding: 8px 12px;
  font-size: 18px;
}

.navbar-icons li:link {
  color: black;
}


.navbar-icons li span {
  font-size: 18px;
}

.navbar-toggleBtn {
  display: none;
  position: absolute;
  right: 50px;
  top: 27px;
  font-size: 32px;
}

.navbar-toggleBtn :hover {
  transform: scale(1.04);
  transition: 0.3s;
}

.screen_big {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  right: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 70px;
  right: 80px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #cfd8dc;
}


@media screen and (max-width:1060px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    width: 100%;

  }

  .hamburger-menu {
    display: none;
  }

  .navbar-menu li {
    width: 100%;
    text-align: center;
    animation-duration: 0.4s;
  }

  .navbar-icons {
    display: none;
    justify-content: center;
    width: 100%;
    margin: 0px;
    animation-duration: 0.4s;
  }

  .navbar-toggleBtn {
    display: block;
  }

  .navbar-menu.active {
    display: flex;

    -webkit-animation: menuSlideDown 1.3s forwards;
    animation: menuSlideDown 1.3s forwards;
  }

  .navbar-icons.active {
    display: flex;

    -webkit-animation: iconOpacity 1.5s forwards;
    animation: iconOpacity 1.5s forwards;
  }

  .navbar-menu.five.active {
    display: flex;
    -webkit-animation: fiveMenuSlideDown 1.3s forwards;
    animation: fiveMenuSlideDown 1.3s forwards;

  }


  @-webkit-keyframes menuSlideDown {
    from {
      top: -100%;
      height: 0;
      opacity: 0;
    }

    to {
      top: 0;
      height: 200px;
      opacity: 1;
    }
  }

  @keyframes {
    from {
      top: -100%;
      height: 0;
      opacity: 0;
    }

    to {
      top: 0;
      height: 200px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fiveMenuSlideDown {
    from {
      top: -100%;
      height: 0;
      opacity: 0;
    }

    to {
      top: 0;
      height: 260px;
      opacity: 1;
    }
  }

  @keyframes {
    from {
      top: -100%;
      height: 0;
      opacity: 0;
    }

    to {
      top: 0;
      height: 260px;
      opacity: 1;
    }
  }

  @-webkit-keyframes iconOpacity {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

}