@import url('./mypage/mypage-card.css');
@import url('./mypage/mypage-myinfo.css');
@import url('./mypage/mypage-resume.css');


.div-three-tab {}

.tab-content {
  margin-top: -20px;
}

.nav-tabs {
  margin: 0px 100px 50px 100px;
}

.nav-tabs .nav-link {
  color: var(--primary-color-black);
}

.nav-tabs .nav-link.active {
  color: var(--primary-color-1)
}

.nav-tabs .nav-link:hover {
  transform: scale(1.07);
  transition: 0.5s;
  color: var(--primary-color-black-hover);
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 90%;
}

@media screen and (max-width:1024px) {
  .div-mycard {
    opacity: 0;
    visibility: hidden;
    height: 0px;
    transition: 0.5s;

  }

  .div-three-tab {
    transition: 1s;
  }
}