.register-container {
  padding-bottom: 100px;
}

.register-form {
  padding-left: 100px;
  display: flex;
}

.register-user {}

.margin-auto {
  padding-left: 100px;
}

.div-button {
  margin-top: 20px;
}