.review-section {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-item {
  width: 20%;
  padding: 10px;
  margin: 5px;
  border: 1px solid var(--primary-color-border-grey);
  border-radius: 0% 10% 0% 10%;
}

.review-item-mid {
  display: flex;
  justify-content: space-between;
}

.company-logo {
  display: flex;
  justify-content: center;
}

.company-logo>img {
  max-width: 70%;
}

.review-item-title {
  display: flex;
  justify-content: center;
}

.review-item-mid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.review-item-title {
  font-size: 24px;
}

.review-company-name>p {
  margin-top: 14px;
  font-size: 18px;

  border-bottom: 1px solid black;
}

.review-name>p {
  padding-top: 4px;
}

.div-review-bt {
  display: block;
  margin: 0px auto;
  width: 80%;
  font-size: 18px;
}

.div-review-bt>button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px;
  padding-top: 4px;
}