.div-myinfo-update {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.div-myinfo-update .myinfo-update-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px
}

.div-myinfo-update-first {
  display: flex;
  min-width: 60%;
  min-height: 400px;
  padding: 30px 30px 0px 30px
}

.div-myinfo-update-second {
  margin-left: 30px;
  min-width: 30%;
  min-height: 400px;
  border: 1px solid;
  padding: 30px;
}

.div-block {
  display: block;
  align-items: flex-end;
  background-color: #a33232ac;
  border: 1px solid #ffffffac;
  border-radius: 0px 0px 5px 5px;
}

.div-info-modify {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.info-visible {
  margin-left: auto;
  margin-right: 10px;
}

.temp-1 {
  display: block;
}

.div-myinfo-update-first .info-title,
.div-myinfo-update-second .info-title {
  color: var(--primary-color-1);
  font-size: 20px;
  font-family: LINE-Bd;
}

.div-myinfo-update-first .info-content,
.div-myinfo-update-second .info-content {
  font-size: 17px;
  margin-left: 2px;
}

.div-myinfo-update .first-detail p {
  word-wrap: break-word;
}

/* --- */

.div-myinfo-update-left {
  margin-left: 30px;
  min-width: 200px;
}

.div-myinfo-update-right {
  display: block;
  margin-left: 30px;
  min-width: 300px;
}

.div-myinfo-update-left .info-title,
.div-myinfo-update-right .info-title {
  color: var(--primary-color-1);
  font-size: 20px;
  font-family: LINE-Bd;
}

.div-myinfo-update-left .info-content,
.div-myinfo-update-right .info-content {
  min-height: 30px;
  font-size: 17px;
  margin-left: 2px;
  word-wrap: break-word;
}

.div-myinfo-update .first-detail p {
  word-wrap: break-word;
}

/* 카드공통 */
.div-myinfo-update-card {
  background-color: #f7f8fa;
  border: none;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.div-myinfo-update .first-detail p {
  word-wrap: break-word;
}

.div-myinfo-update .first-det {
  word-wrap: break-word;
  border: 0 solid black;
}

.temp1 {
  display: block;
}

/* 두번째 정보 */
.div-myinfo-update .second-detail p {
  word-wrap: break-word;
}

.div-myinfo-update .second-detail input {
  word-wrap: break-word;
  border: 0 solid black;
}



.line-clamp-introduce {
  font-size: 17px;
  width: 90%;
  word-break: break-all;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp {
  font-size: 17px;
  width: 90%;
  word-break: break-all;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}