/*=====  End of search-wrapper  ======*/
/*==================================
=            navigation            =
==================================*/
.navbar {
  border-radius: 0;
}

.navbar-toggler {
  float: right;
  width: 44px;
  height: 38px;
  padding: 0;
  position: relative;
  z-index: 99;
  border: none;
  background: #2a2a2a;
  box-shadow: 0 15px 20px 0px rgba(0, 0, 0, 0.05);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler::before,
.navbar-toggler::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 9px;
  width: 26px;
  height: 2px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background: #fff;
}

.navbar-toggler span {
  position: absolute;
  left: 9px;
  overflow: hidden;
  width: 26px;
  height: 2px;
  margin-top: -1px;
  text-indent: 200%;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  background: #fff;
}

.navbar-toggler::before {
  -webkit-transform: translate3d(0, -9px, 0) scale3d(1, 1, 1);
  transform: translate3d(0, -9px, 0) scale3d(1, 1, 1);
}

.navbar-toggler::after {
  -webkit-transform: translate3d(0, 8px, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 8px, 0) scale3d(1, 1, 1);
}

.navbar-toggler.open span {
  opacity: 0;
}

.navbar-toggler.open::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.navbar-toggler.open::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.navbar .navbar-nav {
  font-family: "LINE-Rg", sans-serif;
}

.navbar {
  padding: 0;
  z-index: 1;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.navbar .dropdown-menu .dropdown-item {
  font-size: 17px;
  line-height: 45px;
  text-transform: capitalize;
  color: var(--heading);
  padding: 0 5px 0 25px;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  white-space: inherit;
}

.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus,
.navbar .dropdown-menu .dropdown-submenu:hover>.dropdown-item,
.navbar .dropdown-menu .dropdown-item.active {
  background: transparent;
}

.navbar-nav .nav-item .nav-link {
  padding: 30px 0;
  margin: 0 20px;
  display: block;
  color: #2b2c2e;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.theme-menu-three .navbar-nav .nav-item .nav-link,
.theme-menu-two .navbar-nav .nav-item .nav-link {
  margin: 0 25px;
}

/*.navbar-nav .nav-item .nav-link.dropdown-toggle {margin-right: 22px;}*/
.navbar .dropdown-menu {
  border: none;
}

.navbar .navbar-toggler:focus {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/*=====  End of navigation  ======*/

/* 화면이 작아질 때 되는 화면 */
@media screen and (max-width: 991px) {
  #mega-menu-holder {
    position: static;
    padding: 0;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    left: 0px;
    right: 0px;
    max-height: 60vh;
    min-width: 35vh;
    overflow-y: auto;
    box-shadow: 0px 40px 50px 0px rgba(137, 139, 142, 0.15);
    display: block !important;
    transform: scale(1, 0);
    transform-origin: 100% 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    /*border-top:1px solid #F3F3F3;*/
  }

  .navbar-collapse.show {
    transform: scale(1, 1);
    opacity: 1;
    visibility: visible;
  }

  #mega-menu-holder .show.dropdown .dropdown-toggle::after {
    transform: rotate(180deg);
  }

  .dark-style .navbar-collapse {
    background: #17192b;
  }

  /*Menu Four*/
  .theme-menu-four .navbar-collapse {
    background: #fbf3ec;
  }

  .navbar .dropdown-menu {
    padding: 0;
    margin-top: 0;
  }

  .navbar .navbar-nav .nav-item .nav-link {
    padding: 13px 0;
  }

  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 12px 15px;
    font-size: 18px;
    border-top: 1px solid #f3f3f3;
    margin: 0;
  }

  .dark-style .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .dark-style .navbar .navbar-collapse .navbar-nav .nav-item:last-child .nav-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .navbar .navbar-collapse .navbar-nav .nav-item:last-child .nav-link {
    border-bottom: 1px solid #f3f3f3;
  }

  /*Menu Four*/
  .theme-menu-four .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    border-top: 1px solid #ececec;
  }

  .theme-menu-four .navbar .navbar-collapse .navbar-nav .nav-item:last-child .nav-link {
    border-bottom: 1px solid #ececec;
  }

  .theme-menu-four .right-button-group,
  .theme-menu-one .right-button-group {
    margin: 0 auto !important;
    padding: 15px 0;
  }


  #mega-menu-holder .dropdown-toggle::after {
    right: 0;
    width: 40px;
    text-align: center;
    top: 0;
    line-height: 55px;
  }

  .navbar .dropdown-submenu.dropdown>.dropdown-item:before {
    display: none;
  }

  .navbar .dropdown-submenu .dropdown-menu .dropdown-item {
    padding-left: 40px;
  }

  .navbar .dropdown-submenu .dropdown-menu {
    background: #f9f9f9;
  }

  .navbar .dropdown-menu .dropdown-item {
    background: transparent !important;
  }
}

/*=====  End of media quries  ======*/